body{
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    perspective: 1000px;
    background-color: rgb(250, 91, 91);
}
.cards{
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

/* CARD-1 */

.card1{
    margin: 3rem;
    min-height: 20vh;
    width: 25rem;
    height: 40rem;
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 0rem 4rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
}
.sneaker1{
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.sneaker1 img{
    margin-top: 15px;
    margin-left: -10px;
    min-height: 20vh;
    width: 15rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}
.circle1{
    width: 12rem;
    height: 12rem;
    background: linear-gradient(
        to right,
        rgba(236, 63, 63, 0.75),
        rgba(240, 128, 128, 0.75),
        rgba(216, 195, 195, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.info1 h1{
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 1rem;
    transition: all 0.75s ease-out;
}
.info1 h3{
    margin-top: 13px;
    font-size: 1.25rem;
    padding: 0.5rem 0rem;
    color: #140f0f;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}
.sizes1{
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
}
.sizes1 button{
    margin-top: 10px;
    padding: 0.5rem 1.6rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    border-radius: 15px;
    cursor: pointer;
    font-weight: bolder;
    transition: all 0.75s ease-out;
}
.purchase1 button{
    margin-top: 2.5rem;
    width: 70%;
    margin-left: 2.5rem;
    padding: 6px;
    background-color: rgba(7, 6, 6, 0.89);
    color: white;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.75s ease-out;
}


/* CARD-2 */

.card2{
    margin: 3rem;
    min-height: 20vh;
    width: 25rem;
    height: 40rem;
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 0rem 4rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
}
.sneaker2{
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.sneaker2 img{
    margin-top: -10px;
    margin-left:-10px;
    width: 15rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}
.circle2{
    width: 12rem;
    height: 12rem;
    background: linear-gradient(
        to right,
        rgba(61, 61, 61, 0.75),
        rgba(126, 123, 123, 0.75),
        rgba(252, 240, 240, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.info2 h1{
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 1.25rem;
    transition: all 0.75s ease-out;
}
.info2 h3{
    margin-top: 13px;
    font-size: 1.25rem;
    padding: 0.5rem 0rem;
    color: #140f0f;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}
.sizes2{
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
}
.sizes2 button{
    margin-top: 10px;
    padding: 0.5rem 1.6rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    border-radius: 15px;
    cursor: pointer;
    font-weight: bolder;
}
.purchase2 button{
    margin-top: 2.5rem;
    width: 70%;
    margin-left: 2.5rem;
    padding: 6px;
    background-color: rgba(7, 6, 6, 0.89);
    color: white;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.75s ease-out;
}

/* CARD-3 */

.card3{
    margin: 3rem;
    min-height: 20vh;
    width: 25rem;
    height: 40rem;
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 0rem 4rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
}
.sneaker3{
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.sneaker3 img{
    margin-top: -40px;
    margin-left: -15px;
    width: 16rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}
.circle3{
    width: 12rem;
    height: 12rem;
    background: linear-gradient(
        to right,
        rgba(3, 51, 156, 0.75),
        rgba(77, 113, 196, 0.75),
        rgba(235, 241, 245, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.info3 h1{
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 1.5rem;
    transition: all 0.75s ease-out;
}
.info3 h3{
    margin-top: 13px;
    font-size: 1.25rem;
    padding: 0.5rem 0rem;
    color: #140f0f;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}
.sizes3{
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
}
.sizes3 button{
    margin-top: 10px;
    padding: 0.5rem 1.6rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    border-radius: 15px;
    cursor: pointer;
    font-weight: bolder;
}
.purchase3 button{
    margin-top: 2.5rem;
    width: 70%;
    margin-left: 2.5rem;
    padding: 6px;
    background-color: rgba(7, 6, 6, 0.89);
    color: white;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.75s ease-out;
}

/* CARD-4 */

.card4{
    margin: 3rem;
    min-height: 20vh;
    width: 25rem;
    height: 40rem;
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 0rem 4rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
}
.obj1{
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.obj1 img{
    margin-top: 25px;
    margin-left: -20px;
    min-height: 20vh;
    width: 15rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}
.circle4{
    width: 12rem;
    height: 12rem;
    background: linear-gradient(
        to right,
        rgba(240, 90, 4, 0.75),
        rgba(255, 135, 66, 0.75),
        rgba(253, 194, 159, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.info4 h1{
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 0.5rem;
    transition: all 0.75s ease-out;
}
.info4 h3{
    margin-top: 13px;
    font-size: 1.25rem;
    padding: 0.5rem 0rem;
    color: #140f0f;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}

.purchase4 button{
    margin-top: 2.5rem;
    width: 70%;
    margin-left: 2.5rem;
    padding: 6px;
    background-color: rgba(7, 6, 6, 0.89);
    color: white;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.75s ease-out;
}

/* CARD-5 */

.card5{
    margin: 3rem;
    min-height: 20vh;
    width: 25rem;
    height: 40rem;
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 0rem 4rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
}
.obj2{
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.obj2 img{
    margin-top: -30px;
    margin-left: -15px;
    width: 16rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}
.circle5{
    width: 12rem;
    height: 12rem;
    background: linear-gradient(
        to right,
        rgba(43, 46, 53, 0.75),
        rgba(107, 108, 110, 0.75),
        rgba(183, 184, 185, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.info5 h1{
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 1.5rem;
    transition: all 0.75s ease-out;
}
.info5 h3{
    margin-top: 13px;
    font-size: 1.25rem;
    padding: 0.5rem 0rem;
    color: #140f0f;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}
.purchase5 button{
    margin-top: 2.5rem;
    width: 70%;
    margin-left: 2.5rem;
    padding: 6px;
    background-color: rgba(7, 6, 6, 0.89);
    color: white;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.75s ease-out;
}

/* CARD-6 */

.card6{
    margin: 3rem;
    min-height: 20vh;
    width: 25rem;
    height: 40rem;
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 0rem 4rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
}
.obj3{
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.obj3 img{
    margin-top: -10px;
    margin-left:-30px;
    width: 15rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}
.circle6{
    width: 12rem;
    height: 12rem;
    background: linear-gradient(
        to right,
        rgba(252, 255, 65, 0.75),
        rgba(247, 128, 17, 0.75),
        rgba(224, 99, 99, 0.75),
        rgba(228, 255, 109, 0.75),
        rgba(120, 255, 183, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.info6 h1{
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 0.75rem;
    transition: all 0.75s ease-out;
}
.info6 h3{
    margin-top: 13px;
    font-size: 1.25rem;
    padding: 0.5rem 0rem;
    color: #140f0f;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}
.purchase6 button{
    margin-top: 2.5rem;
    width: 70%;
    margin-left: 2.5rem;
    padding: 6px;
    background-color: rgba(7, 6, 6, 0.89);
    color: white;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.75s ease-out;
}
/* CARD-7 */

.card7{
    margin: 3rem;
    min-height: 20vh;
    width: 25rem;
    height: 40rem;
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 0rem 4rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
}
.obj4{
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.obj4 img{
    margin-top: -5px;
    margin-left: -95px;
    width: 24rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}
.circle7{
    width: 12rem;
    height: 12rem;
    background: linear-gradient(
        to right,
        rgba(236, 63, 63, 0.75),
        rgba(240, 128, 128, 0.75),
        rgba(216, 195, 195, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.info7 h1{
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 1.75rem;
    transition: all 0.75s ease-out;
}
.info7 h3{
    margin-left: 1rem;
    margin-top: 13px;
    font-size: 1.35rem;
    padding: 0.5rem 0rem;
    color: #140f0f;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}
.purchase7 button{
    margin-top: 2.5rem;
    width: 70%;
    margin-left: 2.5rem;
    padding: 6px;
    background-color: rgba(7, 6, 6, 0.89);
    color: white;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.75s ease-out;
}

/* CARD-8 */

.card8{
    margin: 3rem;
    min-height: 20vh;
    width: 25rem;
    height: 40rem;
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 0rem 4rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
}
.obj5{
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.obj5 img{
    margin-left: -25px;
    width: 14rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}
.circle8{
    width: 12rem;
    height: 12rem;
    background: linear-gradient(
        to right,
        rgba(120, 64, 250, 0.75),
        rgba(146, 180, 250, 0.75),
        rgba(245, 35, 234, 0.75),
        rgba(190, 72, 238, 0.75) 
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.info8 h1{
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 1.5rem;
    transition: all 0.75s ease-out;
}
.info8 h3{
    margin-top: 13px;
    font-size: 1.25rem;
    padding: 0.5rem 0rem;
    color: #140f0f;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}
.purchase8 button{
    margin-top: 2.5rem;
    width: 70%;
    margin-left: 2.5rem;
    padding: 6px;
    background-color: rgba(7, 6, 6, 0.89);
    color: white;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.75s ease-out;
}

/* CARD-9*/

.card9{
    margin: 3rem;
    min-height: 20vh;
    width: 25rem;
    height: 40rem;
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 0rem 4rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
}
.obj6{
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.obj6 img{
    margin-left: -25px;
    width: 14rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}
.circle9{
    width: 12rem;
    height: 12rem;
    background: linear-gradient(
        to right,
        rgba(214, 104, 30, 0.75),
        rgba(221, 138, 60, 0.75),
        rgba(212, 162, 104, 0.75),
        rgba(243, 236, 226, 0.75) 
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.info9 h1{
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 2.5rem;
    transition: all 0.75s ease-out;
}
.info9 h3{
    margin-top: 13px;
    font-size: 1.25rem;
    padding: 0.5rem 0rem;
    color: #140f0f;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}
.purchase9 button{
    margin-top: 2.5rem;
    width: 70%;
    margin-left: 2.5rem;
    padding: 6px;
    background-color: rgba(7, 6, 6, 0.89);
    color: white;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.75s ease-out;
}

/* CARD-10*/

.card10{
    margin: 3rem;
    min-height: 20vh;
    width: 25rem;
    height: 40rem;
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 0rem 4rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
}
.obj7{
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.obj7 img{
    margin-top: -20px; 
    margin-left: -15px;
    width: 13.5rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}
.circle10{
    width: 12rem;
    height: 12rem;
    background: linear-gradient(
        to right,
        rgba(73, 68, 56, 0.75),
        rgba(116, 110, 63, 0.75),
        rgba(134, 124, 68, 0.75),
        rgba(155, 139, 52, 0.75),
        rgba(221, 192, 28, 0.75), 
        rgba(214, 202, 24, 0.75),
        rgba(252, 199, 29, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.info10 h1{
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 2.5rem;
    transition: all 0.75s ease-out;
}
.info10 h3{
    margin-top: 13px;
    font-size: 1.25rem;
    padding: 0.5rem 0rem;
    color: #140f0f;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}
.purchase10 button{
    margin-top: 2.5rem;
    width: 70%;
    margin-left: 2.5rem;
    padding: 6px;
    background-color: rgba(7, 6, 6, 0.89);
    color: white;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.75s ease-out;
}

/* CARD-11*/

.card11{
    margin: 3rem;
    min-height: 20vh;
    width: 25rem;
    height: 40rem;
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 0rem 4rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
}
.obj8{
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.obj8 img{
    margin-top: 15px;
    margin-left: 15px;
    width: 10rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}
.circle11{
    width: 12rem;
    height: 12rem;
    background: linear-gradient(
        to right,
        rgba(172, 75, 228, 0.75),
        rgba(181, 82, 226, 0.75),
        rgba(207, 182, 221, 0.75),
        rgba(228, 167, 240, 0.75),
        rgba(234, 179, 230, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.info11 h1{
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 2.5rem;
    transition: all 0.75s ease-out;
}
.info11 h3{
    margin-top: 13px;
    font-size: 1.25rem;
    padding: 0.5rem 0rem;
    color: #140f0f;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}
.purchase11 button{
    margin-top: 2.5rem;
    width: 70%;
    margin-left: 2.5rem;
    padding: 6px;
    background-color: rgba(7, 6, 6, 0.89);
    color: white;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.75s ease-out;
}

/* CARD-12*/

.card12{
    margin: 3rem;
    min-height: 20vh;
    width: 25rem;
    height: 40rem;
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 0rem 4rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
}
.obj9{
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.obj9 img{
    margin-top: 10px;
    margin-left: 5px;
    width: 11rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}
.circle12{
    width: 12rem;
    height: 12rem;
    background: linear-gradient(
        to right,
        rgba(107, 53, 17, 0.75),
        rgba(151, 101, 53, 0.75),
        rgba(173, 142, 106, 0.75),
        rgba(241, 239, 236, 0.75) 
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.info12 h1{
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 2.5rem;
    transition: all 0.75s ease-out;
}
.info12 h3{
    margin-top: 13px;
    font-size: 1.25rem;
    padding: 0.5rem 0rem;
    color: #140f0f;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}
.purchase12 button{
    margin-top: 2.5rem;
    width: 70%;
    margin-left: 2.5rem;
    padding: 6px;
    background-color: rgba(7, 6, 6, 0.89);
    color: white;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.75s ease-out;
}